#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@ --with python2

override_dh_install:
	dh $@ --with python2
	mv debian/p2pool/usr/bin/run_p2pool.py debian/p2pool/usr/bin/p2pool
	mkdir -p debian/p2pool/usr/share/man/man1
	sed -e 's/run_p2pool\.py/p2pool/g' < run_p2pool.man > debian/p2pool/usr/share/man/man1/p2pool.1
